# Python cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.venv/
env/

# Coverage files
.coverage
coverage.xml
htmlcov/

# Pytest
.pytest_cache/

# SonarQube
.scannerwork/

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Logs
*.log
